.blackButton, .yellowButton{
  font-family: Helvetica, "Times New Roman", sans-serif;
  font-size: 28px;
}

.blackButton{
    background-color: #000000;
    color: #ffffff;
}

.yellowButton{
    background-color: gold;
}